
.header {
  display: flex;
  width: 100%;
  top: 0;
  height: 70px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: white;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 5px #000;
  overflow: auto;
  background-blend-mode: soft-light;
}


.nav-btn{
  margin: 0px 40px 0px 20px;
  height: 30px;
  width: 120px;
  font-size: 18px;
  font-size: 19px;
  letter-spacing: 2px;
  color: black;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-weight: bold;
  cursor: pointer;
  transition: all(5s);
}

#signup {
  background-color: red;
  color: white;
  height: 40px;
  width: 120px;
  background-color: rgb(207, 7, 7);
  color: white;
  height: 40px;
  width: 120px;
  font-weight: normal;
}


.buttons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.nav-btn:hover{
  margin: 0px 40px 0px 20px;
  transform: scale(1.1);
  height: 40px;
  width: 120px;
  font-size: 18px;
  letter-spacing: 2px;
  color: rgb(175, 25, 25);
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: all(5s);
}
