<div class="form-content">
    <form [formGroup]="featureForm" (ngSubmit)="onSubmit()">
  
      <div *ngFor="let item of items.controls; let i = index;">
  
        <div class="check" [formGroup]="item">

          <div class="check-box">
            <input type="checkbox" class="check-selection" id="Companystats" formControlName="Companystats">
            <label class="select-feature" for="Companystats">Company stats</label><br>

            <input type="checkbox" class="check-selection" id="Competitors" formControlName="Competitors">
            <label class="select-feature" for="Competitors">Competitors</label><br>
          </div>
          
        </div>
      </div>
       
      <div>
      <div class="submit-area">
        <button type="submit" class="btn btn-primary submit">Submit</button>
      </div>
      </div>
    </form>
  </div>
  

