.mainfooter {
  background-color: #1a2847;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 0px;
  background: #16222A;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 5px 5px #000;
}

.list-unstyled {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  transition-duration: 0.2s;
  margin: -5px;
}

a:hover {
  color: orange;
}

.text-center {
  text-align: center;
  color: white;
  margin: 20px;
  padding-bottom: 20px;
}

h4 {
  margin: 0px 40px 0px 50px;
  padding-top: 10px;
}

.footer-pad {
  color: red;
}

.row {
  column-count: 2;
  margin-top: 50px;
  margin-left: 20px;
}

.brand {
  color: white;
}

.copy {
  border-top: 1px solid #FFFFFF;
  font-size: 12px;
}