<app-header></app-header>
<img src = "./assets/images/twylis-header.png" alt = "header" class = "headerImage">
<section>
    <div class="box" id = "heading1">
        <h1>Welcome to Twylis !</h1>
    </div>
</section>
  
<section>  
    <div class="box">
      <img src="./assets/images/keyword.png" alt="Keyword" style="float:right;width:500px;height:300px;">
      <h3>Keyword search</h3>
      <p>Search keywords and see the analytics around it.<br><br>
        Analyse customer sentiment based on keywords you have selected.<br><br>
        All you've gotta do is login to view them on your dashboard.</p><br><br><br><br><br><br>
      </div>
</section>

<section>
    <div class="box">
      <img src="./assets/images/Comments.jpeg" alt="Keyword" style="float:right;width:500px;height:300px;">
      <h3>Filter mentions by positive, negative and neutral</h3> 
        <p>Filter mentions by positive and negative to help prioritize<br>
        issues and work on the good.<br><br>
        Mining products that have been commented by customers.<br><br>
        Identify sentence by sentence and decide positive,<br> 
        negative or neutral.<br><br>
        Summarize the result.</p><br><br>
    </div>

    <div class="box">
      <img src="./assets/images/GeneratingReports1.jpg" alt="Reports" style="float:right;width:500px;height:300px;">
      <h3>Reports of marketing insights</h3>
        <p>If certain products become less popular day by day<br> 
          giving opinions about what kind of negative things it has.<br><br>
          How to get a benefit from direct positive comments.<br><br>
          Giving reports of marketing insights and metrics of tweets.<br><br>
          Tracking trends and trending topics over time and giving a report of it.<br><br>
          Save your time using our automated reports.<br>
      </p><br>
    </div>

    <h2>Why Twylis?</h2><br>

    <div class="box3" id="heading2">

        <div class="box4">
          <a>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class = "title">Both Hashtag & Mention Tracking<br><br></div>
            <img alt="Image1" src="./assets/images/hashtagsOrMention.jpg" width="360" height="245">
              <div class = "content">
                <p>
                  Most Twitter sentiment analysis apps<br> 
                  and websites have a &nbsp;very basic system,<br> 
                  where a user can type in a keyword and<br>
                  get the polarities based on that.<br> 
                  Also, while there were apps that had<br> 
                  hashtag tracking or mention tracking,<br> 
                  very few had all of them in one<br> 
                  application. Twylis would have all<br> 
                  of the mentioned features.<br>
                </p></div>
          </a>
        </div>

        <div class="box5">
          <a>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class = "title">Generate PDF Reports<br><br><br></div>
            <img alt="Image1" src="./assets/images/Report.jpg" width="360" height="245">
              <div class = "content">
                <p>
                You can generate our customizable and<br> 
                automated reports. You can create PDF<br> 
                reports with the most important data<br> 
                about your hashtags. 
                </p></div>
          </a>
        </div>

<div class="box2">
          <a>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class = "title">Ease Of Use<br><br><br></div>
            <img alt="Image1" src="./assets/images/EaseOfUse.png" width="360" height="245">
              <div class = "content">
                <p>
                  A customer tweets about telecommunication
                   services. The tweet is then analysed by 
                   Twylis and business insights are generated. 
                   Telecommunications brands then view these 
                   business insights. After this point, it is
                    up to the brands to take action.
                </p></div>
          </a>
        </div>

    </div>


    <div class="box">
      <img src="./assets/images/Customer.png" alt="Customer2" style="float:right;width:500px;height:300px;">
      <h3>Analysis of customer sentiment based on pre-determined keywords</h3>
        <p>The business/company can give some keywords based on<br>
        their business to monitor.<br><br>
        Get to know your customers.<br><br>
        Learn what people like or dislike about your company.<br><br>
        Improve customer satisfaction<br><br>
        Keep an eye on the competition to monitor your competitors’<br>
        social media the same way you monitor your own.
      </p>
    </div>

    <div class="box">
      <img src="./assets/images/Hashtag.jpg" alt="HashtagTracking" style="float:right;width:500px;height:300px;">
      <h3>Hashtag tracking</h3>
        <p>Track hashtags on Twitter.<br><br>
        Manage hashtag campaign.<br><br>
        Track and analyze contests and campaigns based on hashtags.<br><br>
        Understand how a company’s brand image evolves over time.<br><br> 
        Detect the company or brand by hashtags/ mentioning.<br><br>
      </p><br>
    </div>

    <div class="box">
      <h3>Automatically categorize mentions by urgency </h3>
      <p>If something negative goes viral about the brand/ product<br>
        <img src="./assets/images/Alert.png" alt="Alert" style="float:right;width:500px;height:300px;">
        giving an emergency notification with all the details of that.<br><br>
        Detect the positive viral news and send notification about which<br> 
        product and what type of news going viral.<br><br>
        Follow up on positive comments from your brand ambassadors & find<br>
        dissatisfied customers' opinions before your boss or client will<br>
        find them first.<br><br>
        Realtime updates - Get instant alerts for negative mentions and<br>
        engage key conversations before it’s too late.<br><br>
        Trends analysis - See positive and negative mentions volume and<br>
        reach to see how your reputation changes over time.
      </p>
    </div>
<app-footer></app-footer>
