<app-header></app-header>
<img src = "twylis-header.png" alt = "header" class = "headerImage">
<section>
    <div class="box" id = "heading">
        <h1>Features</h1>
    </div>
    <div class="box">
      <p>Keyword search - Search keywords and see the analytics around it. Analyse customer sentiment based on keywords you have selected. All you've gotta do is login to view them on your dashboard.</p><br>

      <p>Filter mentions by positive and negative to help prioritize issues and work on the good.</p><br>

      <p>Reports of marketing insights</p><br>

      <p>Competitor monitoring</p><br>

      <p>Track trends and trending topics</p><br>

      <p>Hashtag tracking</p><br>

      <p>Understand how a company’s brand image evolves over time</p><br>
    </div>
</section>
<app-footer></app-footer>
