<app-header></app-header>
<img src = "twylis-header.png" alt = "header" class = "headerImage">
<section>
    <div class="box">
        <h1>Features</h1>
    </div>
    <div class="box">
      Keyword search
      Search keywords and see the analytics around it.

      Analyse customer sentiment based on keywords you have selected. All you've gotta do is login to view them on your dashboard.
    </div>

    <div class="box">
      Filter mentions by positive and negative to help prioritize issues and work on the good.
    </div>

    <div class="box">
      Reports of marketing insights
    </div>

    <div class="box">
      Competitor monitoring
    </div>

    <div class="box">
      Track trends and trending topics
    </div>

    <div class="box">
      Hashtag tracking
    </div>

    <div class="box">
      Understand how a company’s brand image evolves over time
    </div>
</section>
<app-footer></app-footer>
