<footer class="mainfooter" role="contentinfo">

  <div class="row">


    <!--Column1-->
    <div class="footer-pad">
      <h4>Product</h4>
      <ul class="list-unstyled">
        <li><a routerLink="/sample-1" routerLinkActive="active">Sub heading 1</a></li>
        <li><a routerLink="/sample-2" routerLinkActive="active">Sub heading 2</a></li>
        <li><a routerLink="/sample-3" routerLinkActive="active">Sub heading 3</a></li>
      </ul>
    </div>


    <!--Column1-->
    <div class="footer-pad">
      <h4>Features</h4>
      <ul class="list-unstyled">
        <li><a routerLink="/test" routerLinkActive="active">Sub heading 1</a></li>
        <li><a routerLink="/form" routerLinkActive="active">Sub heading 2</a></li>
        <li><a href="#">Sub heading 3</a></li>
      </ul>
    </div>

    <!--Column1-->
    <div class="footer-pad">
      <h4>Heading 3</h4>
      <ul class="list-unstyled">
        <li><a href="#">Sub heading 1</a></li>
        <li><a href="#">Sub heading 2</a></li>
        <li><a href="#">Sub heading 3</a></li>
      </ul>
    </div>

    <!--Column1-->
    <div class="footer-pad">
      <h4>About</h4>
      <ul class="list-unstyled">
        <li><a href="#">Sub heading 1</a></li>
        <li><a href="#">Sub heading 2</a></li>
        <li><a href="#">Sub heading 3</a></li>
      </ul>
    </div>


    <!--Column1-->
    <div class="footer-pad">
      <h4>Blog</h4>
      <ul class="list-unstyled">
        <li><a href="#">Sub heading 1</a></li>
        <li><a href="#">Sub heading 2</a></li>
        <li><a href="#">Sub heading 3</a></li>
      </ul>
    </div>

    <!--Column1-->
    <div class="footer-pad">
      <h4>Support</h4>
      <ul class="list-unstyled">
        <li><a href="#">Sub heading 1</a></li>
        <li><a href="#">Sub heading 2</a></li>
        <li><a href="#">Sub heading 3</a></li>
      </ul>
    </div>

  </div>

  <div class="col-md-12 copy">
    <p class="text-center">&copy; Copyright 2021 - TWYLIS. All rights reserved.</p>
  </div>

</footer>

