
<!-- <form class="col s12 white" #signUpForm="ngForm" (ngSubmit)="OnSubmit(signUpForm)"> -->
<form class="col s12 white" #signUpForm="ngForm">
  <div class="row">
    <div class="input-field col s6">
      <input class="validate" type="text" name="email" #Email="ngModel" [pattern]="emailPattern" [(ngModel)]="registerUserData.email" required>
      <label data-error="Invalid email!">Email</label>
    </div>
    <div class="input-field col s6">
      <input class="validate" type="password" name="password" #Password="ngModel" required minlength="3" [(ngModel)]="registerUserData.password" required>
      <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field!':'Minimum 3 characters needed'):''">Password</label>
    </div>
  </div>

  <div class="input-field col s12">
    <a class="btn btn-primary btn-facebook">Facebook</a>
  </div>


  <div class="input-field col s12">
    <a class="btn btn-info btn-google">Google</a>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <button [disabled]="!signUpForm.valid" class="btn-large btn-submit" (click)="registerUser()" type="submit">Submit</button>
    </div>
  </div>
</form>