<app-header></app-header>
<div class="box3" id="heading2">
  <div class="box2">
    <a>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <div>
        <table>
          <tr>
            <td><label>Email:</label></td>
            <td><input type = "text"></td>
          </tr>
          <tr>
            <td><label>Password:</label></td>
            <td><input type = "text"></td>
          </tr>
          <tr>
            <td><label>Keyword 1:</label>>
            <td><input type = "text"></td>
          </tr>
          <tr>
            <td><label>Keyword 2:</label></td>
            <td><input type = "text"></td>
          </tr>
          <tr>
            <td><label>Keyword 3:</label></td>
            <td><input type = "text"></td>
          </tr>
        </table>
        <button>Save</button>
        </div>
      </a>
  </div>

</div>

<app-footer></app-footer>
