<div class="page-container">
    <div class="sidebar">

        <div class="list-items">
            <a routerLink="/page1" routerLinkActive="selected" class="list-item">Test 1</a>
            <a routerLink="/page2" routerLinkActive="selected" class="list-item">Test 2</a>
            <a routerLink="/page3" routerLinkActive="selected" class="list-item">Test 3</a>
        </div>
    </div>


    <div class="page-content-container">
        <router-outlet></router-outlet>
    </div>

</div>        