section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .box{
    position: relative;
    max-width: 600px;
    margin: 20px;
    padding: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    color: #000;
}

section .box:before{
    content: '';
    position: relative;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    background: url("backgroundimg.jpg") fixed;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.75);
    filter: blur(1px);
}

section .box p{
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 18px;
    z-index: 2;
}